<div class="card highlight-card">
  <a class="white" href="https://www.npmjs.com/package/highcharts-angular">Hightcharts-Angular</a>
</div>

<ng-container *ngIf="(chartOptions | async) as options" >
  <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor" [options]="options"
  [callbackFunction]="chartCallback" [(update)]="updateFlag" [oneToOne]="oneToOneFlag"
  [runOutsideAngular]="runOutsideAngular" style="width: 100%; display: block;">
  </highcharts-chart>
  <p class="p-code ">npm install highcharts</p>
  <p class="p-code ">npm install highcharts-angular</p>
</ng-container>
